@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
select {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
main,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
}

img {
  width: 100%;
  vertical-align: top;
}

/* TYPOGRAPHY */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /* 모서리의 경계가 픽셀이 깨져 보이지 않음, 폰트를 부드럽게 해줌 */
}

a {
  color: #000;
  text-decoration: none;
}

a:link {
  outline: none;
}

html {
  width: 100%;
  font-family: 'SUIT', 'Montserrat', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: 100%;
}

input,
select,
textarea {
  outline: none;
  border: 0;
}

textarea,
input,
select,
label {
  font-family: 'SUIT', 'Montserrat', sans-serif;
  font-size: 400;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

label {
  cursor: pointer;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 400;
  src: url("../fonts/SUIT-Regular.woff2") format("WOFF2");
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  src: url("../fonts/SUIT-Bold.woff2") format("WOFF2");
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 800;
  src: url("../fonts/SUIT-Heavy.woff2") format("WOFF2");
  unicode-range: U+AC00-D7A3;
}

.ly-wrap {
  position: relative;
  min-width: 36rem;
  overflow: hidden;
}

.title {
  font-size: 6rem;
  font-weight: 800;
  color: #ffffff;
}

.title--fz44 {
  font-size: 4.4rem;
}

.divide-area {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e84908;
  margin: 5rem 0 2rem 0;
}

.divide-area::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6.7rem;
  display: block;
  width: 19rem;
  height: 0.2rem;
  background-color: #e84908;
}

.text-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  padding: 0 9.4% 0 16.1%;
}

.text-area * {
  width: 100%;
}

.text-area__block {
  display: block;
}

.desc {
  font-size: 1.5rem;
  color: #ffffff;
  line-height: 1.875rem;
}

.cover-dimmer {
  position: relative;
}

.cover-dimmer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(95.26deg, #171717 26.23%, rgba(23, 23, 23, 0) 85.72%);
}

.both-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes fadeIN {
  0% {
    top: 5rem;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeIN {
  0% {
    top: 5rem;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.header__logo {
  background: url("../img/logo_white.png") no-repeat 0 0/100% 100%;
}

.contents-wrap .visual-area .slide01 {
  background: url("../img/main_visual_01.png") no-repeat 0 0/cover;
}

.contents-wrap .visual-area .slide02 {
  background: url("../img/section01.png") no-repeat 0 0/cover;
}

.contents-wrap .visual-area .slide03 {
  background: url("../img/section02.png") no-repeat 0 0/cover;
}

.contents-wrap#about .visual-area__inner {
  background: url("../img/sub_img01.png") no-repeat 0 0/cover;
}

.contents-area .img-area {
  background: url("../img/sub_img02.png") no-repeat 0 0/cover;
}

.contents-area input[type='checkbox'] + label::after {
  background: url("../img/check.png") no-repeat 0 0/100% 100%;
}

.contents-area input[type='checkbox']:checked + label::after {
  background: url("../img/check_on.png") no-repeat 0 0/100% 100%;
}

.footer__contents {
  background: url("../img/footer.png") no-repeat 0 0/cover;
}

.contents-wrap .swiper.slide__container--api {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.contents-wrap .swiper-button-prev, .contents-wrap .swiper-button-next {
  top: auto;
  bottom: 0;
  left: 16.1%;
  right: auto;
  width: 1.2rem;
  height: 0.9rem;
}

.contents-wrap .swiper-button-prev {
  bottom: 9.7rem;
}

.contents-wrap .swiper-button-prev:after {
  content: '';
  width: 100%;
  height: 100%;
  background: url("../img/slide_up.png") no-repeat 0 0/100% 100%;
}

.contents-wrap .swiper-button-next {
  bottom: 8rem;
}

.contents-wrap .swiper-button-next:after {
  content: '';
  width: 100%;
  height: 100%;
  background: url("../img/slide_down.png") no-repeat 0 0/100% 100%;
}

.contents-wrap .swiper-pagination-fraction {
  left: 18.5%;
  bottom: 8.5rem;
  width: auto;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
}

.contents-wrap .swiper-pagination-total {
  font-weight: 400;
}

.contents-wrap#about .swiper-button-prev, .contents-wrap#about .swiper-button-next {
  left: 0;
}

.contents-wrap#about .swiper-button-prev {
  bottom: 9.7rem;
}

.contents-wrap#about .swiper-pagination-fraction {
  left: 3rem;
}

.contents-area .swiper .swiper-slide {
  height: auto;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.3);
  padding: 0.8rem 4rem 0.8rem 1.5rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  border-radius: 10rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

input[type='checkbox'] + label::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1.5rem;
  display: block;
  width: 1rem;
  height: 0.8rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

input[type='checkbox']:checked + label {
  color: #ffffff;
  border-color: #ffffff;
}

input[type='text'] {
  width: 100%;
  height: 4.6rem;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: transparent;
  border: 0.1rem solid #454545;
  padding: 0 2rem;
}

input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

textarea {
  width: 100%;
  height: 15.2rem;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: transparent;
  border: 0.1rem solid #454545;
  padding: 1.4rem 2rem;
  resize: none;
}

.form-area__title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
}

.form-area__select-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.form-area__check {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}

.form-area__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.form-area__group--contents {
  width: 100%;
}

.form-area__group--contents + .form-area__group--contents {
  margin-left: 2rem;
}

.form-area__fill-area {
  margin-top: 2.5rem;
}

.form-area__writing + .form-area__writing {
  margin-top: 2rem;
}

.form-area .upload-name {
  display: inline-block;
  width: calc(100% - 11.6rem);
  height: 4.6rem;
}

.form-area .upload-name + label {
  display: inline-block;
  width: 11.6rem;
  height: 4.6rem;
  line-height: 4.6rem;
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  background-color: #454545;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 110;
}

header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8.5rem 8.4% 0 8.4%;
}

header .header__inner.on .header__logo {
  display: none;
}

header .header__inner.on .header__btn span {
  background-color: #e84908;
}

header .header__inner.on .header__btn span:first-child {
  -webkit-transform: translateY(7px) rotate(-45deg);
          transform: translateY(7px) rotate(-45deg);
}

header .header__inner.on .header__btn span:last-child {
  margin-left: 0;
  -webkit-transform: translateY(-7px) rotate(45deg);
          transform: translateY(-7px) rotate(45deg);
}

header .header__logo {
  display: block;
  width: 6.9rem;
  height: 3.7rem;
}

header .header__btn {
  position: absolute;
  right: 8.4%;
  cursor: pointer;
  z-index: 110;
}

header .header__btn span {
  display: block;
  width: 2.7rem;
  height: 0.4rem;
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .header__btn span + span {
  margin-top: 1rem;
  margin-left: 1.3rem;
}

header .header__btn:hover span:last-child {
  margin-left: 0;
}

@-webkit-keyframes transformBtn {
  from {
  }
  to {
  }
}

@keyframes transformBtn {
  from {
  }
  to {
  }
}

.nav {
  position: absolute;
  top: 0;
  right: -100%;
  width: 38%;
  height: 100%;
  min-width: 36rem;
  background-color: #171717;
  -webkit-transition: right 0.5s cubic-bezier(0.03, -0.02, 1, 1);
  transition: right 0.5s cubic-bezier(0.03, -0.02, 1, 1);
  z-index: 100;
}

.nav__list-item {
  padding: 33rem 0 9.4rem 11rem;
}

.nav__list-item li a {
  display: block;
  font-size: 4.4rem;
  font-weight: 700;
  color: #666567;
  padding: 2rem 0;
}

.nav__list-item li.on {
  color: #ffffff;
}

.nav.on {
  right: 0;
}

main {
  position: relative;
  z-index: 1;
}

.contents-wrap {
  background-color: #171717;
}

.contents-wrap .visual-area {
  position: relative;
  height: 100vh;
}

.contents-wrap .visual-area__inner {
  height: 100%;
}

.contents-wrap .text-area.type01 .divide-area {
  margin: 0;
}

.contents-wrap .text-area.type01 .divide-area::after {
  content: none;
}

.contents-wrap .text-area.type01 .desc {
  font-size: 4.4rem;
  font-weight: 700;
  padding: 5rem 0 3.5rem;
  line-height: 5.5rem;
}

.contents-wrap .text-area.type01 .desc__sub {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 2.25rem;
}

.contents-wrap#art .text-area {
  text-align: center;
  padding-top: 11.5rem;
}

.contents-wrap#art .text-area .title {
  padding: 2.8rem 0 1.6rem;
}

.contents-wrap#art .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 3.5rem;
}

.contents-wrap#art .list-item li {
  position: relative;
  width: calc(50% - 1rem);
  margin: 8rem 0 0 0;
  background-color: #666567;
  padding-top: 54%;
}

.contents-wrap#art .list-item li a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contents-wrap#art .list-item li a img {
  -o-object-fit: cover;
     object-fit: cover;
}

.contents-wrap#art .list-item li a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contents-wrap#art .list-item li a:hover:after {
  background-color: rgba(232, 73, 8, 0.8);
}

.contents-area {
  padding: 11.2rem 16.1% 33rem 16.1%;
}

.contents-area__sub--form {
  height: 100%;
  min-height: 100vh;
  padding-top: 29.5rem;
}

.contents-area__sub--form .both-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contents-area__sub--form .both-side .contents-area__part {
  width: 100%;
}

.contents-area__sub--form .both-side .contents-area__part + .contents-area__part {
  margin-top: 0;
}

.contents-area__sub--form .both-side .contents-area__part--left {
  width: 34rem;
}

.contents-area__sub--form .both-side .contents-area__part--right {
  width: calc(100% - 34rem);
  border-top: 0.4rem solid #ffffff;
  border-bottom: 0.4rem solid #ffffff;
  margin-left: 8rem;
}

.contents-area__sub--form .both-side .contents-area__part--right .form-area__row {
  padding: 5.4rem 0;
}

.contents-area__sub--form .both-side .contents-area__part--right .form-area__row + .form-area__row {
  border-top: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.contents-area.contents-area__sub--form .both-side .text-area {
  width: 100%;
}

.contents-area .both-side .text-area {
  width: 40%;
}

.contents-area .both-side .dest-list {
  width: 60%;
  padding-left: 10%;
}

.contents-area .text-area {
  position: relative;
}

.contents-area .text-area.type01 {
  padding: 0;
}

.contents-area .text-area.type01 .title {
  font-size: 4.4rem;
}

.contents-area .text-area.type01 .title--fz44 {
  padding: 5rem 0 3.5rem;
}

.contents-area .text-area__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contents-area .text-area__desc dl {
  color: #ffffff;
}

.contents-area .text-area__desc dl dt {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

.contents-area .text-area__desc dl dd {
  font-size: 1.5rem;
}

.contents-area .text-area__desc dl dd + dd {
  margin-top: 1.3rem;
}

.contents-area .text-area__desc dl + dl {
  margin-left: 3.6rem;
}

.contents-area .dest-list {
  position: relative;
  width: 100%;
  min-width: 27.9rem;
  padding: 3% 3% 0 0;
}

.contents-area .dest-list::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 33%;
  height: 0.3rem;
  background-color: #e84908;
}

.contents-area .dest-list:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 0.3rem;
  height: 33%;
  background-color: #e84908;
}

.contents-area .img-area {
  width: 100%;
  padding-top: 60%;
  margin-bottom: 4.3rem;
}

.contents-area__part + .contents-area__part {
  margin-top: 21.5rem;
}

.contents-area__part .list-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flext-start;
      -ms-flex-align: flext-start;
          align-items: flext-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contents-area__part .list-item__row li + li {
  margin-left: 1.6rem;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: 58.4rem;
}

footer .footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}

footer .footer__contents .instagram {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 11rem;
  height: 11rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e84908;
  text-align: center;
  border: 0.1rem solid #e84908;
  border-radius: 100%;
  margin-top: 4.2rem;
}

footer .footer__contents .instagram::before {
  content: '';
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #e84908;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .footer__title {
  width: 100%;
  text-align: center;
}

@media (max-width: 1159px) {
  header .header__inner {
    padding: 6.5rem 5rem 0 5rem;
  }
}

@media (max-width: 799px) {
  header .header__inner {
    padding: 3.5rem 3rem 0 3rem;
  }
}

@media (max-width: 1159px) {
  .contents-wrap .visual-area__inner .text-area {
    padding: 3.5rem 5rem 6.5rem 5rem;
  }
  .contents-wrap .text-area.type01 .desc {
    padding: 2.5rem 0 2rem;
  }
  .contents-wrap#about .visual-area {
    height: auto;
  }
  .contents-wrap#about .visual-area__inner {
    padding-top: 15rem;
  }
  .contents-wrap#art .text-area {
    text-align: center;
    padding-top: 11.5rem;
  }
  .contents-wrap#art .text-area .title {
    padding: 2.8rem 0 1.6rem;
  }
  .contents-area {
    padding: 6.5rem 5rem 6.5rem 5rem;
  }
  .contents-area__sub--form .both-side {
    display: block;
  }
  .contents-area__sub--form .both-side .contents-area__part + .contents-area__part {
    margin-top: 5rem;
  }
  .contents-area__sub--form .both-side .contents-area__part--left {
    width: 100%;
  }
  .contents-area__sub--form .both-side .contents-area__part--right {
    width: 100%;
    margin-left: 0;
  }
  .contents-area.contents-area__sub--form {
    padding-top: 20.5rem;
  }
  .contents-area .text-area.type01 .title {
    font-size: 4.4rem;
  }
  .contents-area .text-area.type01 .title--fz44 {
    padding: 2.5rem 0 2rem;
  }
  .contents-area .text-area__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 3rem 0 2.5rem;
  }
  .contents-area .text-area__desc dl dt {
    font-size: 1.8rem;
  }
  .contents-area .text-area__desc dl dd {
    font-size: 1.4rem;
  }
  .contents-area .text-area__desc dl dd + dd {
    margin-top: 1rem;
  }
  .contents-area__part + .contents-area__part {
    margin-top: 10rem;
  }
}

@media (max-width: 799px) {
  .contents-wrap .visual-area__inner .text-area {
    padding: 3.5rem 3rem 6.5rem 3rem;
  }
  .contents-wrap#about .text-area {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .contents-wrap#about .visual-area {
    height: auto;
  }
  .contents-wrap#about .visual-area__inner {
    padding-top: 10rem;
  }
  .contents-wrap#art .text-area {
    padding-top: 8.5rem;
  }
  .contents-wrap#art .list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contents-wrap#art .list-item li {
    width: 100%;
    padding-top: 100%;
    margin: 3.5rem 0 0 0;
  }
  .contents-wrap .text-area {
    padding: 20.2rem 3rem 8.5rem 3rem;
  }
  .contents-wrap .text-area.type01 .desc {
    font-size: 2.5rem;
    padding: 2.5rem 0 2rem;
    line-height: 3.5rem;
  }
  .contents-wrap .text-area.type01 .desc__sub {
    font-size: 1.4rem;
  }
  .contents-area {
    padding: 6.5rem 2.5rem 6.5rem 2.5rem;
  }
  .contents-area__sub--form .both-side .contents-area__part--right .form-area__row {
    padding: 3.4rem 0;
  }
  .contents-area.contents-area__sub--form {
    padding-top: 15.5rem;
  }
  .contents-area .both-side {
    display: block;
  }
  .contents-area .both-side .text-area {
    width: 100%;
  }
  .contents-area .both-side .dest-list {
    width: 100%;
    padding-left: 0;
    margin-top: 3rem;
  }
  .contents-area .text-area.type01 .title--fz44 {
    font-size: 2.5rem;
  }
  .contents-area .text-area__desc {
    padding: 0;
  }
  .contents-area .dest-list {
    padding: 2.5rem 2.5rem 0 0;
  }
  .contents-area .img-area {
    height: 20rem;
  }
  .contents-area__part .list-item__row {
    margin-top: 2rem;
  }
}

@media (max-width: 1159px) {
  footer {
    height: 40.4rem;
  }
  footer .footer__title {
    font-size: 4.4rem;
  }
}

@media (max-width: 799px) {
  footer {
    display: none;
  }
  footer .footer__title {
    font-size: 2.8rem;
  }
}

@media (max-width: 1159px) {
  .contents-wrap .swiper-button-prev, .contents-wrap .swiper-button-next {
    left: 5rem;
  }
  .contents-wrap .swiper-button-prev {
    bottom: 9.7rem;
  }
  .contents-wrap .swiper-pagination {
    left: 8rem;
  }
  .contents-area .swiper .swiper-slide {
    height: 100%;
  }
}

@media (max-width: 799px) {
  .contents-wrap .swiper-button-prev, .contents-wrap .swiper-button-next {
    left: 3rem;
  }
  .contents-wrap .swiper-pagination {
    left: 6.5rem;
  }
  .contents-wrap#about .swiper-button-prev, .contents-wrap#about .swiper-button-next {
    left: auto;
    right: 0;
  }
  .contents-wrap#about .swiper-button-prev {
    bottom: 9.7rem;
  }
  .contents-wrap#about .swiper-pagination-fraction {
    left: auto;
    right: 2rem;
  }
  .contents-area .swiper .swiper-slide {
    height: 100%;
  }
}

@media (max-width: 1159px) {
  .form-area__group {
    display: block;
  }
  .form-area__group--contents + .form-area__group--contents {
    margin-top: 3rem;
    margin-left: 0;
  }
}

@media (max-width: 799px) {
  .form-area__group {
    display: block;
  }
  .form-area__group--contents + .form-area__group--contents {
    margin-top: 3rem;
    margin-left: 0;
  }
}
/*# sourceMappingURL=ui.css.map */