@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
select {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
main,
section {
  display: block;
}

body {
  line-height: 1;
  letter-spacing: 0.01rem;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
}

img {
  width: 100%;
  vertical-align: top;
}

/* TYPOGRAPHY */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /* 모서리의 경계가 픽셀이 깨져 보이지 않음, 폰트를 부드럽게 해줌 */
}

a {
  color: #000;
  text-decoration: none;
}

a:link {
  outline: none;
}

html {
  width: 100%;
  font-family: 'SUIT', 'Montserrat', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: 100%;
}

input,
select,
textarea {
  outline: none;
  border: 0;
}

textarea,
input,
select,
label {
  font-family: 'SUIT', 'Montserrat', sans-serif;
  font-size: 400;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

label {
  cursor: pointer;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 400;
  src: url("../fonts/SUIT-Regular.woff2") format("WOFF2");
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  src: url("../fonts/SUIT-Bold.woff2") format("WOFF2");
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: 'SUIT';
  font-weight: 800;
  src: url("../fonts/SUIT-Heavy.woff2") format("WOFF2");
  unicode-range: U+AC00-D7A3;
}

body {
  background-color: #171717;
}

.ly-wrap {
  position: relative;
  height: 100%;
  min-width: 36rem;
}

.title {
  font-size: 6rem;
  font-weight: 800;
  color: #ffffff;
}

.title--fz44 {
  font-size: 4.4rem;
}

.divide-area {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e84908;
  margin: 5rem 0 2rem 0;
}

.divide-area::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6.7rem;
  display: block;
  width: 19rem;
  height: 0.2rem;
  background-color: #e84908;
}

.text-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  padding: 0 9.4% 0 16.1%;
}

.text-area * {
  width: 100%;
}

.text-area__block {
  display: block;
}

.desc {
  font-size: 1.5rem;
  color: #ffffff;
  line-height: 2.4rem;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #171717;
  opacity: 1;
  -webkit-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.cover-dimmer {
  position: relative;
}

.cover-dimmer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(95.26deg, #171717 26.23%, rgba(23, 23, 23, 0) 85.72%);
}

.cover.on {
  opacity: 0;
}

.both-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes fadeIN {
  0% {
    top: 5rem;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeIN {
  0% {
    top: 5rem;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@media (max-width: 799px) {
  .ly-wrap {
    padding-bottom: 0;
  }
}

.header__logo {
  background: url("../img/logo_white.png") no-repeat 0 0/100% 100%;
}

.contents-wrap .visual-area .slide01 {
  background: url("../img/main_visual_01.png") no-repeat 0 0/cover;
}

.contents-wrap .visual-area .slide02 {
  background: url("../img/section01.png") no-repeat 0 0/cover;
}

.contents-wrap .visual-area .slide03 {
  background: url("../img/section02.png") no-repeat 0 0/cover;
}

.contents-wrap#about .visual-area {
  background: url("../img/sub_img01.png") #030303 no-repeat 0 0/cover;
}

.contents-wrap#art .caption .title {
  background: url("../img/caption_arrow.png") no-repeat center bottom/5.9rem 1.7rem;
}

.contents-wrap#pj-detail .visual-area {
  background: url("../img/detail_visual.png") no-repeat 0 0/cover;
}

.contents-area .img-bg {
  background: url("../img/sub_img02.png") no-repeat 0 0/cover;
}

.contents-area input[type='checkbox'] + label::after {
  background: url("../img/check.png") no-repeat 0 0/100% 100%;
}

.contents-area input[type='checkbox']:checked + label::after {
  background: url("../img/check_on.png") no-repeat 0 0/100% 100%;
}

.footer__contents {
  background: url("../img/footer.png") no-repeat 0 0/cover;
}

.contents-wrap .swiper.slide__container--api {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.contents-wrap .swiper-button-prev, .contents-wrap .swiper-button-next {
  top: auto;
  bottom: 60%;
  left: 16.1%;
  right: auto;
  width: 1.2rem;
  height: 0.9rem;
}

.contents-wrap .swiper-button-prev {
  bottom: 9.7rem;
}

.contents-wrap .swiper-button-prev:after {
  content: '';
  width: 100%;
  height: 100%;
  background: url("../img/slide_up.png") no-repeat 0 0/100% 100%;
}

.contents-wrap .swiper-button-next {
  bottom: 8rem;
}

.contents-wrap .swiper-button-next:after {
  content: '';
  width: 100%;
  height: 100%;
  background: url("../img/slide_down.png") no-repeat 0 0/100% 100%;
}

.contents-wrap .swiper-pagination-fraction {
  left: 18.5%;
  bottom: 8.5rem;
  width: auto;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}

.contents-wrap .swiper-pagination-current {
  color: #ffffff;
}

.contents-wrap .swiper-pagination-total {
  font-weight: 400;
}

.contents-wrap#about .swiper-button-prev, .contents-wrap#about .swiper-button-next {
  top: auto;
  bottom: 37rem;
  width: 0.9rem;
  height: 1.2rem;
}

.contents-wrap#about .swiper-button-prev {
  left: 0;
}

.contents-wrap#about .swiper-button-prev:after {
  background: url("../img/slide_left_on.png") no-repeat 0 0/100% 100%;
}

.contents-wrap#about .swiper-button-next {
  right: auto;
  left: 10.1rem;
}

.contents-wrap#about .swiper-button-next:after {
  background: url("../img/slide_right_on.png") no-repeat 0 0/100% 100%;
}

.contents-wrap#about .swiper-pagination-fraction {
  left: 3rem;
  bottom: 36.9rem;
}

.contents-area .swiper .swiper-slide {
  height: auto;
}

input[type='date'] {
  width: 100%;
  height: 4.6rem;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: transparent;
  border: 0.1rem solid #454545;
  padding: 0 2rem;
}

input[type='date']::-webkit-datetime-edit-text {
  display: none;
}

input[type='date']::-webkit-datetime-edit-month-field {
  display: none;
}

input[type='date']::-webkit-datetime-edit-day-field {
  display: none;
}

input[type='date']::-webkit-datetime-edit-year-field {
  display: none;
}

input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  color: #454545;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.3);
  padding: 0.8rem 4rem 0.8rem 1.5rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  border-radius: 10rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

input[type='checkbox'] + label::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1.5rem;
  display: block;
  width: 1rem;
  height: 0.8rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

input[type='checkbox']:checked + label {
  color: #ffffff;
  border-color: #ffffff;
}

input[type='text'] {
  width: 100%;
  height: 4.6rem;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: transparent;
  border: 0.1rem solid #454545;
  padding: 0 2rem;
}

input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

input::-webkit-input-placeholder {
  color: #454545;
}

input:-ms-input-placeholder {
  color: #454545;
}

input::-ms-input-placeholder {
  color: #454545;
}

input::placeholder {
  color: #454545;
}

input#check-agree {
  position: relative;
  display: block;
  color: rgba(255, 255, 255, 0.3);
  width: 1.6rem;
  height: 1.6rem;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

input#check-agree::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #ffffff;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

input#check-agree:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-image: none;
  background-position: 0 0;
  background-color: #e84908;
  margin: -0.5rem 0 0 -0.5rem;
}

textarea {
  width: 100%;
  height: 15.2rem;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: transparent;
  border: 0.1rem solid #454545;
  padding: 1.4rem 2rem;
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: #454545;
}

textarea:-ms-input-placeholder {
  color: #454545;
}

textarea::-ms-input-placeholder {
  color: #454545;
}

textarea::placeholder {
  color: #454545;
}

.form-area__title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
}

.form-area__select-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.form-area__check {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
}

.form-area__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.form-area__group--contents {
  width: 100%;
}

.form-area__group--contents + .form-area__group--contents {
  margin-left: 2rem;
}

.form-area__fill-area {
  margin-top: 2.5rem;
}

.form-area__writing + .form-area__writing {
  margin-top: 2rem;
}

.form-area .upload-name {
  display: inline-block;
  width: calc(100% - 11.6rem);
  height: 4.6rem;
}

.form-area .upload-name + label {
  display: inline-block;
  width: 11.6rem;
  height: 4.6rem;
  line-height: 4.6rem;
  font-size: 1.4rem;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  background-color: #454545;
  cursor: pointer;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.form-footer .agree-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffffff;
  margin-left: 1rem;
}

.form-footer .agree-title span {
  color: #e84908;
}

.form-footer--agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form-submit {
  position: relative;
}

.form-submit button {
  display: block;
  width: 17rem;
  height: 4.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #e84908;
  border: 0.2rem solid #e84908;
  background-color: transparent;
}

#form-contact {
  border-top: 0.4rem solid #ffffff;
  border-bottom: 0.4rem solid #ffffff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 110;
}

header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8.5rem 8.4% 0 8.4%;
}

header .header__inner.on .header__logo {
  display: none;
}

header .header__inner.on .header__btn span {
  background-color: #e84908;
}

header .header__inner.on .header__btn span:first-child {
  -webkit-transform: translateY(7px) rotate(-45deg);
          transform: translateY(7px) rotate(-45deg);
}

header .header__inner.on .header__btn span:last-child {
  margin-left: 0;
  -webkit-transform: translateY(-7px) rotate(45deg);
          transform: translateY(-7px) rotate(45deg);
}

header .header__logo {
  display: block;
  width: 6.9rem;
  height: 3.7rem;
}

header .header__btn {
  position: absolute;
  right: 8.4%;
  cursor: pointer;
  z-index: 110;
}

header .header__btn span {
  display: block;
  width: 2.7rem;
  height: 0.4rem;
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

header .header__btn span + span {
  margin-top: 1rem;
  margin-left: 1.3rem;
}

header .header__btn:hover span:last-child {
  margin-left: 0;
}

@-webkit-keyframes transformBtn {
  from {
  }
  to {
  }
}

@keyframes transformBtn {
  from {
  }
  to {
  }
}

.nav {
  position: fixed;
  top: 0;
  right: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 38%;
  height: 100vh;
  min-width: 36rem;
  background-color: #171717;
  padding-left: 10rem;
  -webkit-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
  z-index: 100;
}

.nav__list-item li a {
  display: block;
  font-size: 4.4rem;
  font-weight: 700;
  color: #666567;
  padding: 2rem 0;
}

.nav__list-item li.on a {
  color: #ffffff;
}

.nav__list-item li:hover a {
  color: #ffffff;
}

.nav__list-item--contact li .title {
  font-size: 1.5rem;
  font-size: 700;
  color: #e84908;
}

.nav__list-item--contact li .desc {
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 0.8rem;
}

.nav__list-item--contact li + li {
  margin-top: 3rem;
}

.nav__list-item + .nav__list-item {
  margin-top: 15rem;
  margin-bottom: 9rem;
}

.nav.on {
  right: 0;
}

main {
  position: relative;
  top: 0;
  height: 100%;
  z-index: 1;
}

.contents-wrap {
  background-color: #171717;
}

.contents-wrap .visual-area {
  position: relative;
  height: 100vh;
}

.contents-wrap .text-area.type01 .divide-area {
  margin: 0;
}

.contents-wrap .text-area.type01 .divide-area::after {
  content: none;
}

.contents-wrap .text-area.type01 .desc {
  font-size: 4.4rem;
  font-weight: 700;
  padding: 3rem 0 1.5rem;
  line-height: 5.5rem;
}

.contents-wrap .text-area.type01 .desc__sub {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 2.6rem;
}

.contents-wrap#about .contents-area {
  background: -webkit-gradient(linear, left top, left bottom, from(#030303), color-stop(23%), color-stop(#171717), color-stop(78%), to(transparent));
  background: linear-gradient(#030303, 23%, #171717, 78%, transparent);
}

.contents-wrap#about .contents-area__inner {
  padding: 0;
}

.contents-wrap#about .contents-area__part .text-area {
  padding: 0 9.4% 0 16.1%;
}

.contents-wrap#about .contents-area__part.both-side {
  padding: 0 9.4% 0 16.1%;
}

.contents-wrap#about .contents-area__part.both-side .text-area {
  padding: 0;
}

.contents-wrap#art .text-area {
  text-align: center;
  padding-top: 11.5rem;
}

.contents-wrap#art .text-area .title {
  padding: 2.8rem 0 1.6rem;
}

.contents-wrap#art .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contents-wrap#art .list-item li {
  position: relative;
  width: calc(33.33% - 2rem);
  margin: 8rem 2rem 0 0;
  background-color: #666567;
  padding-top: 40%;
}

.contents-wrap#art .list-item li a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contents-wrap#art .list-item li a img {
  -o-object-fit: cover;
     object-fit: cover;
}

.contents-wrap#art .list-item li a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contents-wrap#art .list-item li a:hover:after {
  background-color: rgba(232, 73, 8, 0.8);
}

.contents-wrap#art .list-item li a:hover .caption {
  opacity: 1;
}

.contents-wrap#art .list-item li a .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.contents-wrap#art .list-item li a .caption .title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.2rem;
  padding-bottom: 3.2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.contents-wrap#art .list-item li a .caption .type-caption {
  position: absolute;
  left: 5rem;
  bottom: 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  z-index: 10;
}

.contents-wrap#art .list-item li a .caption .type-title {
  line-height: 2.5rem;
}

.contents-wrap#pj-detail .visual-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 54rem;
}

.contents-wrap#pj-detail .contents-area__inner .title {
  font-size: 3rem;
  font-weight: 700;
}

.contents-wrap#pj-detail .contents-area__inner .project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 6rem;
}

.contents-wrap#pj-detail .contents-area__inner .project-info li {
  position: relative;
  padding-left: 2rem;
}

.contents-wrap#pj-detail .contents-area__inner .project-info li:first-child {
  padding-left: 0;
}

.contents-wrap#pj-detail .contents-area__inner .project-info li span {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  padding-right: 9rem;
}

.contents-wrap#pj-detail .contents-area__inner .project-info li span.item-key {
  color: #e84908;
}

.contents-wrap#pj-detail .contents-area__inner .project-info li span.item-value {
  color: #ffffff;
  margin-top: 1.8rem;
}

.contents-wrap#pj-detail .contents-area__inner .project-info li + li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0.1rem;
  height: 100%;
  background-color: #454545;
}

.contents-wrap#pj-detail .contents-area__inner .project-img {
  width: 100%;
  height: 98rem;
  margin-top: 7.5rem;
  border: 0.1rem solid #454545;
}

.contents-wrap#pj-detail .contents-area__inner .project-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.contents-area {
  padding: 5rem 0 15rem;
}

.contents-area__sub--form {
  height: 100%;
  min-height: 100vh;
  padding-top: 29.5rem;
}

.contents-area__sub--form .both-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contents-area__sub--form .both-side .contents-area__part {
  width: 100%;
}

.contents-area__sub--form .both-side .contents-area__part + .contents-area__part {
  margin-top: 0;
}

.contents-area__sub--form .both-side .contents-area__part--left {
  width: 40rem;
}

.contents-area__sub--form .both-side .contents-area__part--right {
  width: calc(100% - 40rem);
  margin-left: 8rem;
}

.contents-area__sub--form .both-side .contents-area__part--right .form-area__row {
  padding: 5.4rem 0;
}

.contents-area__sub--form .both-side .contents-area__part--right .form-area__row + .form-area__row {
  border-top: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.contents-area.contents-area__sub--form .both-side .text-area {
  width: 100%;
}

.contents-area .text-area {
  position: relative;
}

.contents-area .text-area.type01 {
  padding: 0;
}

.contents-area .text-area.type01 .title {
  font-size: 4.4rem;
}

.contents-area .text-area.type01 .title--fz44 {
  padding: 3rem 0 1.5rem;
}

.contents-area .text-area.inner__text-area {
  padding: 11.2rem 16.1% 33rem 16.1%;
}

.contents-area .text-area__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contents-area .text-area__desc dl {
  color: #ffffff;
}

.contents-area .text-area__desc dl dt {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

.contents-area .text-area__desc dl dd {
  font-size: 1.5rem;
}

.contents-area .text-area__desc dl dd + dd {
  margin-top: 1.3rem;
}

.contents-area .text-area__desc dl + dl {
  margin-left: 3.6rem;
}

.contents-area .dest-list {
  position: relative;
  width: 100%;
  min-width: 27.9rem;
  margin-left: 10rem;
}

.contents-area__part + .contents-area__part {
  margin-top: 21.5rem;
}

.contents-area__part .list-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: flext-start;
      -ms-flex-align: flext-start;
          align-items: flext-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 4rem;
}

.contents-area__part .list-item__row li + li {
  margin-left: 1.6rem;
}

.contents-area__part .inner__list li {
  position: relative;
  max-height: 70rem;
  padding-top: 35%;
}

.contents-area__part .inner__contents {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.contents-area__part .inner__contents.reverse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contents-area__part .inner__contents.reverse .dest-list {
  width: auto;
  margin-right: 10rem;
  margin-left: 0;
}

.contents-area__part .inner__img {
  width: 100%;
  height: 100%;
}

.contents-area__part .inner__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contents-area__part .inner__img--01 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.contents-area__part .inner__img--04 {
  width: 33.33%;
}

.contents-area__part .inner__img--05 {
  width: 33.33%;
}

.contents-area__part .inner__img--06 {
  width: 33.33%;
}

.contents-area__part .inner__img.w860 {
  width: 86rem;
}

.contents-area__part .inner__img.w538 {
  width: 53.8rem;
}

.contents-area__inner {
  position: relative;
  padding: 0 7% 0 8.4%;
}

.contents-area .btn-area {
  position: relative;
  width: 100%;
}

.contents-area .inner__list {
  margin-top: 10rem;
}

.contents-area .indicator {
  text-align: center;
  padding: 3rem 0;
}

.contents-area .indicator a {
  display: inline-block;
  font-size: 1.6rem;
  color: #e84908;
}

.contents-area .indicator a + a {
  margin-left: 0.6rem;
}

.contents-area .indicator a.btn__indicator {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid #e84908;
  border-radius: 100%;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: -0.3rem;
  padding-right: 0.3rem;
}

.contents-area .indicator a.btn-prev {
  margin-right: 1rem;
}

.contents-area .indicator a.btn-next {
  margin-left: 1.6rem;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 58.4rem;
}

footer .footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}

footer .footer__contents .instagram {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 11rem;
  height: 11rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e84908;
  text-align: center;
  border: 0.1rem solid #e84908;
  border-radius: 100%;
  margin-top: 4.2rem;
}

footer .footer__contents .instagram::before {
  content: '';
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #e84908;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer .footer__title {
  width: 100%;
  text-align: center;
}

@media (max-width: 1159px) {
  header .header__inner {
    padding: 6.5rem 5rem 0 5rem;
  }
}

@media (max-width: 799px) {
  header .header__inner {
    padding: 3.5rem 3rem 0 3rem;
  }
}

@media (max-width: 1159px) {
  .nav__list-item li a {
    padding: 1rem 0;
  }
  .nav__list-item--contact li + li {
    margin-top: 2rem;
  }
  .nav__list-item + .nav__list-item {
    margin-top: 8rem;
    margin-bottom: 5rem;
  }
}

@media (max-width: 799px) {
  .nav {
    width: 100%;
  }
  .nav__list-item li a {
    padding: 1rem 0;
  }
  .nav__list-item--contact li + li {
    margin-top: 2rem;
  }
  .nav__list-item + .nav__list-item {
    margin-top: 8rem;
    margin-bottom: 5rem;
  }
}

@media (max-width: 1159px) {
  .contents-wrap .visual-area .text-area {
    padding: 3.5rem 5rem 6.5rem 5rem;
  }
  .contents-wrap .text-area.type01 .desc {
    padding: 2.5rem 0 2rem;
  }
  .contents-wrap#about .visual-area {
    height: auto;
    padding-top: 15rem;
  }
  .contents-wrap#about .contents-area__part .text-area {
    padding: 3.5rem 5rem 0 5rem;
  }
  .contents-wrap#about .contents-area .inner__list {
    margin-top: 5rem;
  }
  .contents-wrap#art .text-area {
    text-align: center;
    padding-top: 11.5rem;
  }
  .contents-wrap#art .text-area .title {
    padding: 2.8rem 0 1.6rem;
  }
  .contents-wrap#pj-detail .visual-area {
    height: 34rem;
  }
  .contents-wrap#pj-detail .contents-area__inner .title {
    font-size: 3rem;
    font-weight: 700;
  }
  .contents-wrap#pj-detail .contents-area__inner .project-img {
    height: 58rem;
    margin-top: 5rem;
  }
  .contents-area__sub--form .both-side {
    display: block;
  }
  .contents-area__sub--form .both-side .contents-area__part + .contents-area__part {
    margin-top: 5rem;
  }
  .contents-area__sub--form .both-side .contents-area__part--left {
    width: 100%;
  }
  .contents-area__sub--form .both-side .contents-area__part--right {
    width: 100%;
    margin-left: 0;
  }
  .contents-area.contents-area__sub--form {
    padding-top: 20.5rem;
  }
  .contents-area .text-area.type01 .title {
    font-size: 4rem;
  }
  .contents-area .text-area.type01 .title--fz44 {
    padding: 2.5rem 0 2rem;
  }
  .contents-area .text-area__desc {
    padding: 3rem 0 2.5rem;
  }
  .contents-area .text-area__desc dl dt {
    font-size: 1.8rem;
  }
  .contents-area .text-area__desc dl dd {
    font-size: 1.4rem;
  }
  .contents-area .text-area__desc dl dd + dd {
    margin-top: 1rem;
  }
  .contents-area .dest-list {
    right: 0;
  }
  .contents-area .img-bg {
    height: 40.6rem;
  }
  .contents-area__part + .contents-area__part {
    margin-top: 10rem;
  }
  .contents-area__inner {
    padding: 6.5rem 5rem 0 5rem;
  }
}

@media (max-width: 799px) {
  .contents-wrap .title {
    font-size: 4rem;
  }
  .contents-wrap .visual-area .text-area {
    padding: 3.5rem 3rem 6.5rem 3rem;
  }
  .contents-wrap#about .text-area {
    text-align: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .contents-wrap#about .visual-area {
    height: auto;
    padding-top: 10rem;
  }
  .contents-wrap#about .contents-area__part.both-side {
    padding: 0;
  }
  .contents-wrap#about .contents-area__part .list-item__row {
    display: block;
  }
  .contents-wrap#about .contents-area__part .list-item__row li + li {
    margin-top: 3rem;
    margin-left: 0;
  }
  .contents-wrap#art .text-area {
    padding-top: 8.5rem;
  }
  .contents-wrap#art .list-item {
    padding: 0 0.5rem 0 2.5rem;
  }
  .contents-wrap#art .list-item li {
    width: calc(50% - 2rem);
    padding-top: 54%;
    margin: 3.5rem 2rem 0 0;
  }
  .contents-wrap#art .list-item li a:after {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .contents-wrap#art .list-item li a:hover:after {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .contents-wrap#art .list-item li a .caption {
    opacity: 1;
  }
  .contents-wrap#art .list-item li a .caption .title {
    display: none;
  }
  .contents-wrap#art .list-item li a .caption .type-caption {
    left: 2rem;
    bottom: 2rem;
    font-size: 1.4rem;
  }
  .contents-wrap#art .list-item li a .caption .type-title {
    line-height: 2rem;
  }
  .contents-wrap#pj-detail .visual-area {
    height: 24rem;
  }
  .contents-wrap#pj-detail .contents-area__inner .title {
    font-size: 3rem;
    font-weight: 700;
  }
  .contents-wrap#pj-detail .contents-area__inner .project-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contents-wrap#pj-detail .contents-area__inner .project-info li {
    width: 100%;
  }
  .contents-wrap#pj-detail .contents-area__inner .project-info li span {
    font-size: 1.3rem;
    padding-right: 0;
  }
  .contents-wrap#pj-detail .contents-area__inner .project-img {
    height: 38rem;
    margin-top: 5rem;
  }
  .contents-wrap .text-area {
    padding: 20.2rem 3rem 8.5rem 3rem;
  }
  .contents-wrap .text-area.type01 .desc {
    font-size: 2.5rem;
    padding: 2.5rem 0 2rem;
    line-height: 3.5rem;
  }
  .contents-wrap .text-area.type01 .desc__sub {
    font-size: 1.6rem;
  }
  .contents-area {
    padding: 6.5rem 0 6.5rem 0;
  }
  .contents-area__sub--form {
    padding: 0 2.5rem 0 2.5rem;
  }
  .contents-area__sub--form .both-side .contents-area__part--right .form-area__row {
    padding: 3.4rem 0 1.5rem;
  }
  .contents-area.contents-area__sub--form {
    padding-top: 15.5rem;
  }
  .contents-area .both-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contents-area .both-side .text-area {
    width: 100%;
  }
  .contents-area .both-side .dest-list {
    width: 100%;
    margin-top: 5rem;
  }
  .contents-area .text-area.type01 .title--fz44 {
    font-size: 4rem;
  }
  .contents-area .text-area__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .contents-area .text-area__desc dl + dl {
    margin-left: 3rem;
  }
  .contents-area .img-area {
    margin-top: 3rem;
    padding-left: 0;
    padding: 2rem 2rem 0 0;
  }
  .contents-area .img-bg {
    height: 25rem;
  }
  .contents-area .dest-list {
    padding: 2.5rem 0 0 0;
    margin-left: 0;
  }
  .contents-area__part .list-item__row {
    margin-top: 3rem;
    margin-left: 0;
  }
  .contents-area__part .inner__list li {
    height: 24rem;
    padding: 0;
  }
  .contents-area__part .inner__contents.reverse {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contents-area__part .inner__contents.reverse .dest-list {
    margin-right: 0;
  }
  .contents-area__part .inner__img--01 {
    display: none;
  }
  .contents-area__part .inner__img--03 {
    display: none;
  }
  .contents-area__part .inner__img--04 {
    display: none;
  }
  .contents-area__part .inner__img--05 {
    width: 100%;
  }
  .contents-area__part .inner__img--06 {
    display: none;
  }
  .contents-area__part .inner__img.w860 {
    width: 86rem;
  }
  .contents-area__part .inner__img.w538 {
    width: 53.8rem;
  }
  .contents-area__inner {
    padding: 0;
  }
  .contents-area .indicator {
    text-align: center;
    padding: 3rem 0;
  }
  .contents-area .indicator a {
    font-size: 1.4rem;
  }
}

@media (max-width: 1159px) {
  footer {
    height: 40.4rem;
  }
  footer .footer__title {
    font-size: 4.4rem;
  }
}

@media (max-width: 799px) {
  footer {
    display: none;
  }
  footer .footer__title {
    font-size: 2.8rem;
  }
}

@media (max-width: 1159px) {
  .contents-wrap .swiper-button-prev, .contents-wrap .swiper-button-next {
    left: 5rem;
  }
  .contents-wrap .swiper-pagination {
    left: 8rem;
  }
  .contents-wrap#about .swiper-button-prev, .contents-wrap#about .swiper-button-next {
    bottom: 28rem;
  }
  .contents-wrap#about .swiper-pagination-fraction {
    bottom: 27.9rem;
  }
  .contents-area .swiper .swiper-slide {
    height: 100%;
  }
}

@media (max-width: 799px) {
  .contents-wrap .swiper-button-prev, .contents-wrap .swiper-button-next {
    left: 3rem;
  }
  .contents-wrap .swiper-pagination-fraction {
    left: 6rem;
  }
  .contents-wrap#about .swiper-button-prev, .contents-wrap#about .swiper-button-next {
    bottom: 18.6rem;
  }
  .contents-wrap#about .swiper-pagination-fraction {
    bottom: 18.4rem;
  }
  .contents-area .swiper .swiper-slide {
    height: 100%;
  }
}

@media (max-width: 1159px) {
  .form-area__group {
    display: block;
  }
  .form-area__group--contents + .form-area__group--contents {
    margin-top: 3rem;
    margin-left: 0;
  }
}

@media (max-width: 799px) {
  .form-area__group {
    display: block;
  }
  .form-area__group--contents + .form-area__group--contents {
    margin-top: 3rem;
    margin-left: 0;
  }
  .form-footer {
    display: block;
    margin-top: 0;
  }
  .form-footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .form-submit {
    padding: 2rem 0 5rem;
  }
  .form-submit button {
    width: 100%;
  }
}
/*# sourceMappingURL=ui.css.map */