@media (max-width: 1159px) {
  #{$orgFooter} {
    height: 40.4rem;
    .#{$footer} {
      &contents {
        .instagram {
          &::before {
          }
        }
      }
      &title {
        font-size: 4.4rem;
      }
    }
  }
}

@media (max-width: 799px) {
  #{$orgFooter} {
    display: none;
    .#{$footer} {
      &contents {
        .instagram {
          &::before {
          }
        }
      }
      &title {
        font-size: 2.8rem;
      }
    }
  }
}
