@media (max-width: 1159px) {
  .#{$contents} {
    &-wrap {
      .swiper {
        &.slide__container {
          &--api {
          }
        }

        &-button {
          &-prev,
          &-next {
            left: 5rem;
          }
          &-prev {
            bottom: 9.7rem;
            &:after {
            }
          }
          &-next {
            &:after {
            }
          }
        }
        &-pagination {
          left: 8rem;
          &-fraction {
          }
          &-current {
          }
          &-total {
          }
        }
      }
      .slide {
        &__container {
        }
        &__btn {
          // position: absolute;
          // bottom: 0;
          // display: block;
          // color: $white;
          // font-size: 1.8rem;
          // cursor: pointer;
          // &--next {
          //   bottom: 5rem;
          // }
          // &--prev {
          // }
        }
      }
      &#about {
        .swiper {
          &-button {
            &-prev,
            &-next {
            }
            &-prev {
              &:after {
              }
            }
            &-next {
              &:after {
              }
            }
          }
          &-pagination {
            &-fraction {
            }
            &-current {
            }
            &-total {
            }
          }
        }
      }
    }
    &-area {
      .swiper {
        .swiper- {
          &slide {
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 799px) {
  .#{$contents} {
    &-wrap {
      .swiper {
        &.slide__container {
          &--api {
          }
        }

        &-button {
          &-prev,
          &-next {
            left: 3rem;
          }
          &-prev {
            &:after {
            }
          }
          &-next {
            &:after {
            }
          }
        }
        &-pagination {
          left: 6.5rem;
          &-fraction {
          }
          &-current {
          }
          &-total {
          }
        }
      }
      .slide {
        &__container {
        }
        &__btn {
          // position: absolute;
          // bottom: 0;
          // display: block;
          // color: $white;
          // font-size: 1.8rem;
          // cursor: pointer;
          // &--next {
          //   bottom: 5rem;
          // }
          // &--prev {
          // }
        }
      }
      &#about {
        .swiper {
          &.slide__container {
            &--api {
            }
          }

          &-button {
            &-prev,
            &-next {
              left: 0;
              right: auto;
            }
            &-prev {
              bottom: 62.5rem;
              &:after {
              }
            }
            &-next {
              left: 9.3rem;
              bottom: 62.5rem;
              &:after {
              }
            }
          }
          &-pagination {
            &-fraction {
              left: 2.9rem;
              right: auto;
              bottom: 62.4rem;
            }
            &-current {
            }
            &-total {
            }
          }
        }
      }
    }
    &-area {
      .swiper {
        .swiper- {
          &slide {
            height: 100%;
          }
        }
      }
    }
  }
}
