// var
$app: app;

// class
.flex {
  display: flex;
  justify-content: center;
}
// from (시작: 이상) ~ to (종료: 미만)
// from (시작: 이상) ~ through (종료: 이하)

@for $i from 1 through 80 {
  .mg-t#{$i} {
    margin-top: $i + px;
  }
}



// @include 사용법
// 태그명 {
//   @include mixin변수;
// }

// mixin
@mixin clearFix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin bgGreen {
  background-color: $main-green;
}

@mixin bgWhite {
  background-color: $white;
}
