.#{app} {
  &.main {
    .visual {
      height: 60.1rem;
    }
  }
  &-header {
    position: fixed;
    width: 100%;
    height: 8.3rem;
    background-color: #ffffff;
    border-bottom: 0.1rem solid #b2b3b2;
    z-index: 9997;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      .cont- {
        &left {
          display: flex;
          align-items: center;
          h1 {
            & + .btn-group {
              margin-left: 1.5rem;
            }
          }
        }
        &right {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          .form-area {
            width: 27.5rem;
          }
          .header-icon {
            display: block;
            & + .header-icon {
              margin-left: 2.5rem;
            }
          }
        }
      }
    }
  }
  .main-type {
    display: none;
    &.on {
      display: block;

    }
  }
  .main-menu {
    position: absolute;
    top: -4.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 999;
    .container {
      display: flex;
      justify-content: center;
      height: 7.4rem;
    }
    .menu-btn {
      display: block;
      width: 100%;
      height: 7.4rem;
      font-size: 1.8rem;
      font-weight: 700;
      color: #000000;
      line-height: 7.4rem;
      border-radius: 15px;
      padding-left: 3.1rem;
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-position: right 2.2rem top -0.1rem;

      box-shadow: 0px 0px 25px rgba(149, 157, 170, 0.3);
      &.on {
        color: #ffffff;
        background-color: #39c6cc;
        .menu-btn {
          &01 {
            background-image: url("../img/bg/menu_btn01_hpver.png");
          }
          &02 {
            background-image: url("../img/bg/menu_btn02_hpver.png");
          }
          &03 {
            background-image: url("../img/bg/menu_btn03_hpver.png");
          }
          &04 {
            background-image: url("../img/bg/menu_btn04_hpver.png");
          }
        }
      }
      & + .menu-btn {
        margin-left: 0.8rem;
      }
      &01 {
        background-image: url("../img/bg/menu_btn01.png");
      }
      &02 {
        background-image: url("../img/bg/menu_btn02.png");
      }
      &03 {
        background-image: url("../img/bg/menu_btn03.png");
      }
      &04 {
        background-image: url("../img/bg/menu_btn04.png");
      }
      &:hover {
        @include bgGreen;
        color: #ffffff;
        .menu-btn {
          &01 {
            background-image: url("../img/bg/menu_btn01_hpver.png");
          }
          &02 {
            background-image: url("../img/bg/menu_btn02_hpver.png");
          }
          &03 {
            background-image: url("../img/bg/menu_btn03_hpver.png");
          }
          &04 {
            background-image: url("../img/bg/menu_btn04_hpver.png");
          }
        }
      }
    }
   
  }
  &-contents {
    position: relative;
    min-height: calc(100vh - 21rem);
    padding-top: 8.3rem;
    .visual {
      position: relative;
      height: 47rem;
      overflow: hidden;
      .slide-container {
        height: 100%;
        .slide {
          width: 100%;
          height: 100%;
        }
      }
      &.sub-visual {
        background-color: #fcb414;
        .container {
          background: url("../img/bg/sub_visual.png") no-repeat right bottom;
          .visual-txt {
            left: 0;
            font-size: 4rem;
            line-height: 5rem;
          }
        }
      }
      .visual-txt {
        position: absolute;
        top: 50%;
        left: 9rem;
        font-weight: 700;
        color: #ffffff;
        transform: translateY(-50%);
        .title {
          font-size: 3.5rem;
          font-weight: 900;
          line-height: 4.375rem;
        }
        .desc {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 2rem;
          letter-spacing: 0.01rem;
          margin-top: 2rem;
        }
      }
      & + .contents-wrap {
        padding-top: 0;
      }
      & + .contents-area {
        padding: 10.7rem 0 10rem;
      }
    }
    .contents-area {
      position: relative;
      padding: 8.7rem 0 10rem;
      .title {
        font-size: 4rem;
        & + .desc {
          font-size: 1.8rem;
          font-weight: 700;
          padding: 3rem 0 6.6rem 0;
        }
      }
      &.map-area {
        // padding-top: 16rem;
        .map-box {
          position: relative;
          // border-top: 0.2rem solid #000000;
          padding-top: 4.8rem;
          .map-desc {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            .cont- {
              &left {
                width: 100%;
                padding: 0 3rem;
                border-right: 0.1rem solid #b2b3b2;
                .contact-area {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  .cont-left {
                    padding: 0;
                    border: 0;
                  }
                  .cont-right {
                    border-left: 0;
                    padding: 0;
                  }
                }
              }
              &right {
                width: 100%;
                padding: 0 3rem;
              }
            }
            .title {
              font-size: 1.8rem;
              font-weight: 700;
              color: #39c6cc;
            }
            .desc {
              font-size: 1.5rem;
              font-weight: 400;
              padding: 1.3rem 0 2.4rem;
              line-height: 1.875rem;
            }
            & + .map {
              height: 47.9rem;
              margin-top: 5rem;
              border-radius: 1.5rem;
              background: url("../img/bg/map.png") no-repeat center center;
            }
          }
        }
      }
      &.notice-area {
        .board-area {
          padding-top: 3.7rem;
          border-top: 0.2rem solid #000000;
        }
      }
      &.my-page {
        .tab- {
          &area {
            padding: 0 8%;
          }
        }
        .table-area {
          border-top: 0;
          & + .submit {
            height: 4.4rem;
            line-height: 4.4rem;
            margin-left: auto;
            margin-top: 1.2rem;
            padding: 0 2.5rem;
          }
        }
      }
      .terms-area {
        padding-top: 11.5rem;
        .title {
          font-size: 2.5rem;
        }
        .cont-box {
          border-radius: 0.5rem;
          background-color: #ffffff;
          padding: 3.7rem 5.2rem;
          margin-top: 2.8rem;
          .txt-group {
            .title {
              font-size: 1.5rem;
              font-weight: 700;
            }
            .desc {
              font-size: 1.3rem;
              font-weight: 400;
              padding: 4rem 0;
            }
          }
        }
      }
      .board-area {
        background-color: #ffffff;
        .board-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &.flex-clear {
            display: block;
          }
          .title {
            font-size: 2.5rem;
          }
          .user-nick {
            font-size: 1.3rem;
            padding: 2.2rem 0;
          }
          .txt-info {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            color: #989898;
            .space {
              margin-left: 1.2rem;
            }
          }
        }
        .board-txt-view {
          border-top: 0.1rem solid #e1e1e1;
          padding: 3.5rem 0;
          margin-top: 1.7rem;
          p {
            font-size: 1.5rem;
            line-height: 1.875rem;
            padding-bottom: 6.1rem;
          }
        }
        .comment-list {
          border-top: 0.1rem solid #e1e1e1;
          padding: 2.7rem 0 0;
          .comment-num {
            font-size: 1.3rem;
            font-weight: 700;
            & + li {
              border-top: 0;
            }
          }
          li {
            font-size: 1.3rem;
            color: #989898;
            border-top: 0.1rem solid #e1e1e1;
            padding: 2.8rem 0 2.6rem;
            dt {
              font-weight: 700;
              color: #000000;
            }
            dd {
              font-size: 1.5rem;
              color: #000000;
              margin: 1.5rem 0;
            }
            .txt-like {
              display: inline-block;
              color: #989898;
              padding-left: 1.6rem;
              margin-left: 1.2rem;
              
            }
          }
        }
        .txt-area {
          position: relative;
          .btn-regist {
            position: absolute;
            right: 1.8rem;
            bottom: 1.8rem;
            display: block;
          }
        }
        .txt-like {
          font-size: 1.3rem;
          // background: url("../img/icon/heart.png") no-repeat 0 center / 1.4rem
            // 1.3rem;
          padding-left: 2rem;
          &.type01 {
            // background: url("../img/icon/tbl_like.png") no-repeat 0 center /
              // 1.1rem 1rem;
            // &.on {
            //   background: url("../img/icon/tbl_like_on.png") no-repeat 0 center /
            //     1.4rem 1.3rem;
            // }
          }
          &.on {
            // background: url("../img/icon/heart_on.png") no-repeat 0 center /
              // 1.4rem 1.3rem;
          }
        }
        .board- {
          &box {
            border-top: 2px solid #000000;
            margin-top: 2.3rem;
            .list-item-depth {
              &01 {
                display: flex;
                border-bottom: 1px solid #989898;
                li {
                  position: relative;
                  width: 17.6rem;
                  background-color: #ffffff;
                  a {
                    display: block;
                    height: 100%;
                    font-size: 1.5rem;
                    font-weight: 700;
                    padding: 2.3rem 6rem 2.3rem 0;
                    background-color: #ffffff;
                    &.item-depth01 {
                      background: url("../img/icon/drop_btn.png") no-repeat
                        right 6rem center / 1.7rem 1rem;
                      position: relative;
                      z-index: 999;
                     
                    }
                    // &.on {
                    //   & + .list-item-depth02 {
                    //     transform: scaleY(1);
                    //   }
                     
                    // }
                    
                  }
                  &:first-child {
                    .list-item-depth02 {
                      left: 0;
                    }
                    a {
                      padding-left: 0;
                    }
                  }
                  &:last-child {
                    a {
                      // padding-right: 0;
                    }
                  }
                  & + li {
                    &::before {
                      content: "";
                      position: absolute;
                      top: 50%;
                      left: -3rem;
                      width: 0.1rem;
                      height: 3.3rem;
                      background-color: #e5e5e5;
                      transform: translateY(-50%);
                    }
                  }
                  
                  
                }
              }
              &02 {
                position: absolute;
                top: 4.9rem;
                // left: 3rem;
                width: 9.4rem;
                height: 0;
                background-color: #ffffff;
                border-radius: 1.5rem;
                padding: 0 1.2rem;
                box-shadow: 0px 0px 2.5rem rgba(149, 157, 170, 0.3);
                transition: height 0.4s ease-in;
                box-sizing: content-box;
                overflow: hidden;
                li {
                  width: 100%;
                  height: auto;
                  a {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    padding: 1rem 0;
                    
                  }
                  & + li {
                    border-top: 0.1rem solid #e1e1e1;
                    &::before {
                      content: none;
                    }
                  }
                  &:first-child {
                        padding-top: 0.8rem;
                  }
                  &:last-child {
                        padding-bottom: 0.8rem;
                  }
                }
              }
            }
          }

          &contents {
            .title {
              input {
                font-size: 1.8rem;
                font-weight: 700;
                color: #989898;
                border: 0;
                border-radius: 0;
                padding: 2.4rem 0 2.2rem;
              }
            }
            .text-area {
              height: 62.9rem;
              max-height: 62.9rem;
              border: 0.1rem solid #e1e1e1;
              overflow-y: auto;
            }
          }
        }
        .board-footer {
          display: flex;
          
        }
      }
      .tab-area {
        .title {
          font-size: 2.5rem;
        }
      }
      .tip .title {
        font-size: 1.3rem;
      }
    }
    .main-menu {
      & + .contents-area {
        padding-top: 9rem;
      }
    }
    .sect-contents {
      position: relative;
      padding: 12.1rem 0;
      overflow: hidden;
      .title {
        font-size: 2.5rem;
        font-weight: 700;
        & + .desc {
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.875rem;
          margin-top: 2.4rem;
          padding: 0;
        }
      }

      &#cont- {
        &01 {
         padding-top: 0;
          .title {
            font-size: 1.5rem;
            color: #39c6cc;
          }
          .desc {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 2.75rem;
          }
          .contents-box-area {
            display: flex;
            margin-top: 7.8rem;
            .cont-box {
              position: relative;
              width: calc(50% - 1rem);
              height: 37rem;
              color: #ffffff;
              border-radius: 1.5rem;
              padding: 5rem 4.8rem 0 5rem;
              .title {
                font-size: 2.5rem;
                font-weight: 900;
                color: #ffffff;
              }
              .desc {
                font-size: 1.8rem;
                line-height: 3.25rem;
                margin-top: 2.5rem;
              }
              & + .cont-box {
                margin-top: 8.9rem;
                margin-left: 1.9rem;
              }
              &-ic {
                &01 {
                  &:after {
                    content: "";
                    position: absolute;
                    right: 3.7rem;
                    bottom: -1.7rem;
                    width: 30.2rem;
                    height: 18.3rem;
                    background: url("../img/bg/sect_teacher.png") no-repeat 0 0 /
                      100% 100%;
                  }
                }
                &02 {
                  &:after {
                    content: "";
                    position: absolute;
                    right: -4.7rem;
                    bottom: -6.1rem;
                    width: 24.4rem;
                    height: 26.6rem;
                    background: url("../img/bg/sect_par_stu.png") no-repeat 0 0 /
                      100% 100%;
                    z-index: 999;
                  }
                }
              }
            }
          }
          > .title {
            font-size: 1.5rem;
            color: #39c6cc;
            & + .desc {
              font-size: 2.2rem;
              font-weight: 700;
              line-height: 2.75rem;
            }
          }
        }
        &02 {
          background: #f7f8fa;
          .container {
            @include clearFix;
            position: static;
          }
          .cont-left {
            width: 28.1rem;
            position: relative;
            left: 0.8rem;
          }
          .cont-right {
            position: absolute;
            top: 50%;
            right: 0;
            height: 36.7rem;
            margin-left: 0.7rem;
            transform: translateY(-50%);
            overflow: hidden;
            .slide {
              position: relative;
              // max-width: 28rem;
              height: 36.7rem;
              color: #ffffff;
              border-radius: 1.5rem;
              background-color: brown;
              padding: 3.6rem 0 0 4.4rem;
              background-repeat: no-repeat;
              background-size: 28rem 36.7rem;
              background-position: 0 0;
              // background: linear-gradient(
              //   180deg,
              //   rgba(0, 0, 0, 0.55) 0%,
              //   rgba(0, 0, 0, 0) 100%
              // );
              background-blend-mode: multiply;
              &-01 {
                background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0.55) 0%,
                    rgba(0, 0, 0, 0) 100%
                  ),
                  url("../img/bg/slide_01.png");
                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  right: 2.8rem;
                  top: 2rem;
                  width: 4.5rem;
                  height: 4.5rem;
                  background: url("../img/icon/slide_01_icon.png") no-repeat 0 0 /
                    100% 100%;
                }
              }
              &-02 {
                background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0.55) 0%,
                    rgba(0, 0, 0, 0) 100%
                  ),
                  url("../img/bg/slide_02.png");
                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  right: 2.8rem;
                  top: 2rem;
                  width: 4.5rem;
                  height: 4.5rem;
                  background: url("../img/icon/slide_02_icon.png") no-repeat 0 0 /
                    100% 100%;
                }
              }
              &-03 {
                background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0.55) 0%,
                    rgba(0, 0, 0, 0) 100%
                  ),
                  url("../img/bg/slide_03.png");
                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  right: 2.8rem;
                  top: 2rem;
                  width: 4.5rem;
                  height: 4.5rem;
                  background: url("../img/icon/slide_03_icon.png") no-repeat 0 0 /
                    100% 100%;
                }
              }
              &-04 {
                background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0.55) 0%,
                    rgba(0, 0, 0, 0) 100%
                  ),
                  url("../img/bg/slide_04.png");
                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  right: 2.8rem;
                  top: 2rem;
                  width: 4.5rem;
                  height: 4.5rem;
                  background: url("../img/icon/slide_04_icon.png") no-repeat 0 0 /
                    100% 100%;
                }
              }
              &-05 {
                background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0.55) 0%,
                    rgba(0, 0, 0, 0) 100%
                  ),
                  url("../img/bg/slide_05.png");
                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  right: 2.8rem;
                  top: 2rem;
                  width: 4.5rem;
                  height: 4.5rem;
                  background: url("../img/icon/slide_05_icon.png") no-repeat 0 0 /
                    100% 100%;
                }
              }

              .title {
                font-size: 1.8rem;
                font-weight: 700;
              }
              .desc {
                font-size: 1.5rem;
                margin-bottom: 2.5rem;
                padding-bottom: 0;
              }
            }
          }
        }
        &03 {
          color: #ffffff;
          background: linear-gradient(
              97.2deg,
              #39c6cc 0%,
              rgba(85, 187, 179, 0) 99.42%
            ),
            #3579b7;
          .container {
            & > .title {
              & + .desc {
                opacity: 0.7;
              }
            }
          }
          .li-ic- {
            &q {
              background: url("../img/icon/icon_q_a.png") no-repeat center 0 /
                10.6rem 9.4rem;
            }
            &commu {
              background: url("../img/icon/icon_commu.png") no-repeat center 0 /
                10.6rem 9.4rem;
            }
            &edu {
              background: url("../img/icon/icon_edu_tra_.png") no-repeat center
                0 / 10.6rem 9.4rem;
            }
            &expert {
              background: url("../img/icon/icon_expert.png") no-repeat center 0 /
                10.6rem 9.4rem;
            }
          }
        }
        &04 {
          background: #f7f8fa;
        }
        &05 {
        }
        &06 {
          background-color: #f7f8fa;
          .ic- {
            &like {
              margin-left: 0.4rem;
            }
            &comment {
              margin-left: 0.4rem;
            }
          }
        }
      }

      .list-item {
        margin-top: 6.7rem;
        ul {
          display: flex;
          li {
            text-align: center;
            a {
              display: block;
              color: #ffffff;
              padding: 3.2rem 7rem 5rem;
              .title {
                display: block;
                width: 10.6rem;
                font-size: 1.8rem;
                color: #ffffff;
                padding-top: 12.6rem;
                margin: 0 auto;
              }
              .desc {
                font-size: 1.5rem;
                font-weight: 400;
                margin-top: 2.2rem;
                margin-bottom: 0;
                line-height: 1.6;
              }
            }
            & + li {
              border-left: 0.1rem solid rgba(255, 255, 255, 0.3);
            }
            &:first-child {
              a {
                padding-left: 1.4rem;
              }
            }
            &:last-child {
              a {
                padding-right: 0;
              }
            }
          }
        }
        &.list-type {
          &01 {
            ul {
              li {
                width: auto;
                margin-right: 4rem;

                a {
                  display: block;
                  width: 18.9rem;
                  height: 18.9rem;
                  border-radius: 100%;
                  padding: 0;
                  & + .title {
                    display: block;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: #000000;

                    text-align: center;
                    margin-top: 1.5rem;
                  }
                }
                &:last-child {
                  margin-right: 0;
                }
              }
            }
            & + .btn {
            }
          }
          &02 {
            overflow: hidden;
            ul {
              li {
                width: 26.2rem;
                border-radius: 15px;
                // margin-left: 0.8rem;
                a {
                  display: block;
                  text-align: left;
                  border-radius: 1.5rem;
                  background-color: #ffffff;
                  padding: 3.1rem 1.9rem 1.7rem;
                  .title {
                    width: auto;
                    font-weight: 700;
                    color: #000000;
                    line-height: 2.25rem;
                    padding: 1.7rem 0 1.3rem;
                    margin: 0;
                  }
                  .desc {
                    font-size: 1.3rem;
                    color: #989898;
                    border-bottom: 0.1rem solid #b2b3b2;
                    padding-bottom: 5.2rem;
                    margin-top: 0;
                    margin-bottom: 0;
                  }
                  .btm-area {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 1.3rem;
                    color: #989898;
                    padding-top: 1.4rem;
                    .cont- {
                      &left {
                      }
                      &right {
                      }
                    }
                  }
                }
                &:hover {
                  border-radius: 1.5rem;
                  box-shadow: 0px 0px 25px rgba(149, 157, 170, 0.3);
                }
              }
            }
          }
        }
        &.main-list-item {
        }
      }
    }

    .title {
      font-size: 2.5rem;
      font-weight: 700;
    }
    .menu-list-group {
      .menu-list {
        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 1rem;
          .left-area {
            font-size: 2.5rem;
          }
          .right-area {
            display: block;
            font-size: 1.5rem;
            font-weight: 400;
            &.more-btn {
              background: url("../../img/icon/more_btn.png") no-repeat right
                0.5rem center / 0.8rem 1.04rem;
              padding-right: 2.5rem;
            }
          }
          &.tit-icon {
            padding-left: 5.5rem;
            background-repeat: no-repeat;
            background-position: left 1rem top 0;
            padding-top: 0.4rem;
            &.class {
              background-image: url("../img/icon/sub_icon_class.png");
              background-size: 2.7rem 2.8rem;
            }
            &.law {
              background-image: url("../img/icon/sub_icon_row.png");
              background-size: 2.8rem 2.8rem;
            }
            &.life-edu {
              background-image: url("../img/icon/sub_icon_life_edu.png");
              background-size: 2.7rem 2.9rem;
            }
            &.sc-work {
              background-image: url("../img/icon/sub_icon_sc_w.png");
              background-size: 3rem 2.9rem;
            }
            &.psy {
              background-image: url("../img/icon/sub_icon_psy.png");
              background-size: 3.2rem 2.5rem;
            }
          }
        }
        & + .menu-list {
          margin-top: 5.8rem;
        }
      }

      .list-item {
        border-top: 1px solid #000000;
        padding: 2.3rem 1rem;
        margin-top: 0;
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .con- {
            &left {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              width: calc(100% - 15rem);
              font-size: 1.5rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            &right {
              width: 15rem;
              font-size: 1.3rem;
              color: #989898;
            }
          }
          & + li {
            margin-top: 1.6rem;
          }
        }
      }
    }
    .file-add {
      width: 100%;
      height: 4.9rem;
      margin-top: 1rem;
      font-size: 0;
      input[type *= "file"] {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
      }
      .upload-name {
        display: inline-block;
        width: calc(100% - 9.6rem);
        height: 100%;
        color: #989898;
        border: 0.2rem solid #e1e1e1;
        border-radius: 0;
      }
      label {
        display: inline-block;
        width: 9.3rem;
        height: 100%;
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        line-height: 4.9rem;
        vertical-align: top;
        background-color: $main-green;
        cursor: pointer;
      }
      & + .file-add {
        margin-left: 2rem;
      }
    }
  }

  &-footer {
    height: 21rem;
    border-top: 0.1rem solid #f7f8fa;
    padding: 4.3rem 0;
    .container {
      display: flex;
      justify-content: space-between;
      font-size: 1.5rem;

      .cont- {
        &left {
          text-align: left;
          .logo {
            margin-bottom: 2.2rem;
          }
        }
        &right {
          text-align: right;
          .footer-ci {
            display: block;
            height: 3.1rem;
            margin-bottom: 3.9rem;
            background: url("../img/logo/footer_tc_logo.png") no-repeat right
              top;
          }
        }
      }
      .footer-info {
        + .footer-info {
          margin-top: 0.6rem;
        }
        .copyright {
          color: #989898;
        }
      }
      address {
        font-style: normal;
      }
    }
  }

  .side-menu {
    position: fixed;
    right: 0;
    top: 43rem;
    text-align: center;
    z-index: 999;
    a {
      display: block;
      width: 7.4rem;
      height: 7.4rem;
      font-size: 1.2rem;
      color: #ffffff;
      padding: 4.7rem 0 0;
      background-repeat: no-repeat;
      background-position: center top 1.6rem;
      &.menu- {
        &01 {
          background-image: url("../img/icon/re_ref.png");
          background-color: #3579b7;
        }
        &02 {
          background-image: url("../img/icon/re_apply.png");
          background-color: #39c6cc;
        }
        &03 {
          background-image: url("../img/icon/re_q_a.png");
          background-color: #fcb414;
        }
      }
    }
  }

  .category-icon {
    display: inline-block;
    width: 6.7rem;
    height: 2.3rem;
    font-size: 1.3rem;
    color: #989898;
    line-height: 2.2rem;
    text-align: center;
    border: 0.1rem solid #989898;
    margin-right: 1.4rem;
    &.notice {
      height: 2rem;
      line-height: 2rem;
      color: #39c6cc;
      border: 0.1rem solid #39c6cc;
      box-sizing: border-box;
      border-radius: 10rem;
    }
  }
  .ic- {
    &hits {
      padding-left: 1.8rem;
      background: url("../img/icon/tbl_hits.png") no-repeat 0 center / 1.3rem
        1rem;
    }
    &like {
      padding-left: 1.6rem;
      background: url("../img/icon/tbl_like.png") no-repeat 0 center / 1.1rem
        1rem;
      margin-left: 1.4rem;
    }
    &comment {
      padding-left: 1.5rem;
      background: url("../img/icon/tbl_comment.png") no-repeat 0 center / 1rem
        1rem;
      margin-left: 1.4rem;
    }
  }
  .txt-like {
    background: url("../img/icon/tbl_like.png") no-repeat 0 0 / 1.1rem 1rem;
    cursor: pointer;
    &.on {
      background: url("../img/icon/heart_on.png") no-repeat 0 0 / 1.4rem 1.3rem;
    }
    // &type01 {
    //   &on {
    //     background-image: url("../img/icon/tbl_like.png");
    //   }
    // }
  }
}

.popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in;
  &.type01 {
    .popup- {
      &area {
        height: calc(100% - 20rem);
        padding: 0;
      }
      &head {
        height: 7.5rem;
        color: #ffffff;
        text-align: center;
        border-radius: 2rem 2rem 0 0;
        background-color: #7c8594;
        padding: 3rem;

        h2 {
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      &contents {
        height: calc(100% - 7.5rem);
        padding: 3rem;
        background-color: #ffffff;
        overflow-y: auto;
        .row- {
          &list {
            h3 {
              font-size: 1.5rem;
            }
            ul {
              margin-top: 1rem;
              li {
                font-size: 1.3rem;
                & + li {
                  margin-top: 0.4rem;
                }
              }
            }
            & + .row-list {
              margin-top: 2rem;
            }
          }
        }
        &.type01 {
          .desc {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  .popup-area {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 39rem;
    height: 17rem;
    border-radius: 2rem;
    padding: 3rem;
    transform: translate(-50%, -50%);
    overflow: hidden;
    .desc {
      font-size: 1.8rem;
      font-weight: 700;
      text-align: center;
      margin-top: 2rem;
    }
    .btn-login {
      @include bgGreen;
      color: #ffffff;
      border: 0.1rem solid $main-green;
      margin-top: 2rem;
    }
    .btn-pop-close {
      position: absolute;
      right: 3rem;
      top: 3rem;
      border-radius: 0;
    }
  }
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
