.#{$main} {
  &section {
    height: 100vh;
    overflow: hidden;
  }
  &text {
    position: relative;
    @include onFlex();
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    @include basePad();
    * {
      width: 100%;
    }
  }
}



