.#{$nav} {
  position: fixed;
  top: 0;
  right: -100%;
  @include onFlex(flex-start, flex-end);
  flex-direction: column;
  width: 38%;
  height: 100vh;
  min-width: 36rem;
  background-color: $bascBg;
  padding-left: 10rem;
  transition: right 0.4s ease-in-out;
  z-index: 100;
  &__list-item {
    li {
      a {
        display: block;
        font-size: 4.4rem;
        font-weight: 700;
        color: $txtGray;
        padding: 2rem 0;
      }
      &.on {
        a {
          color: $white;
        }
      }
      &:hover {
        a {
          color: $white;
        }
      }
    }
    &--contact {
      li {
        .title {
          font-size: 1.5rem;
          font-size: 700;
          color: $mainColor;
        }
        .desc {
          font-size: 1.5rem;
          color: $white;
          margin-top: 0.8rem;
        }
        & + li {
          margin-top: 3rem;
        }
      }
    }
    & + .nav__list-item {
      margin-top: 15rem;
      margin-bottom: 9rem;
    }
  }
  &.on {
    right: 0;
  }
}
