// 1. Tag
$ly: ly;
$orgHeader: header;
$header: header__;
$orgMain: main;
$nav: nav;
$contents: contents;
$orgFooter: footer;
$footer: footer__;

// 2. Color
$white: #ffffff;
$black: #000000;
$mainColor: #e84908;
$txtGray: #666567;
$bascBg: #171717;

// 3. Mixin
@mixin onFlex($align: center, $justify: flex-start) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

// 메인 기본 여백
@mixin basePad($pad01: 0, $pad02: 9.4%, $pad03: 0, $pad04: 16.1%) {
  padding: $pad01 $pad02 $pad03 $pad04;
}

// 4. class
.#{$ly} {
  &-wrap {
    position: relative;
    height: 100%;
    min-width: 36rem;
  }
}
.title {
  font-size: 6rem;
  font-weight: 800;
  color: $white;
  &--fz44 {
    font-size: 4.4rem;
  }
}
.divide-area {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  color: $mainColor;
  margin: 5rem 0 2rem 0;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 6.7rem;
    display: block;
    width: 19rem;
    height: 0.2rem;
    background-color: $mainColor;
  }
}
.text-area {
  position: relative;
  @include onFlex();
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  @include basePad();
  * {
    width: 100%;
  }
  &__block {
    display: block;
  }
}
.desc {
  font-size: 1.5rem;
  color: $white;
  line-height: 2.4rem;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: $bascBg;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
  transition-delay: 0.7s;
  &-dimmer {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        95.26deg,
        $bascBg 26.23%,
        rgba(23, 23, 23, 0) 85.72%
      );
    }
  }
  &.on {
    opacity: 0;
  }
}
.both-side {
  @include onFlex(flex-start, space-between);
}

@keyframes fadeIN {
  0% {
    top: 5rem;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
