@charset 'utf-8';

@font-face {
  font-family: "SUIT";
  font-weight: 400;
  src: url("../font/SUIT-Regular.otf") format("OpenType");
}

@font-face {
  font-family: "SUIT";
  font-weight: 700;
  src: url("../font/SUIT-Bold.otf") format("OpenType");
}

@font-face {
  font-family: "SUIT";
  font-weight: 900;
  src: url("../font/SUIT-ExtraBold.otf") format("OpenType");
}
