@charset 'utf-8';

@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 500;
  src: url("../font/NanumBarunGothicLight.ttf") format("ttf");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 500;
  src: url("../font/NanumBarunGothic.ttf") format("ttf");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 700;
  src: url("../font/NanumBarunGothicBold.ttf") format("ttf");
}
